<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-md-4 col-sm-4 col-xs-12" id="company">
    <div class="profile-card">
        <div class="banner">
            <img src="images/building.jpg" alt="" class="img-responsive">
        </div>
        <div class="user-image">
            <img src="images/users/profile-avatar.jpg"
                 class="img-responsive img-circle" alt="">
        </div>
        <div class="card-body">
            <h3>企业管理</h3>
            <span class="title">A web Designer</span>
        </div>
    </div>
    <div class="profile-nav">
        <div class="panel">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="index_cinfo.action"> <i
                        class="fa fa-user"></i> 企业中心</a></li>
                <li><a href="index_ccchangUI.action"> <i class="fa fa-user"></i>
                    修改企业信息</a></li>
                <li><a href="index_ccenter.action"> <i class="fa fa-edit"></i>
                    企业界面</a></li>
                <li><a href="index_myjobs.action"> <i class="fa fa-file-o"></i>我发布的岗位
                </a></li>
                <li><a href="index_myapplys.action"> <i
                        class="fa  fa-list-ul"></i>岗位申请</a></li>
                <li><a href="index_addnoticeUI.action"> <i
                        class="fa  fa-edit"></i>添加公告</a></li>
                <li><a href="index_mynotice.action"> <i
                        class="fa  fa-file-o"></i>我的公告</a></li>
                <li><a href="index_logout.action"> <i
                        class="fa  fa-list-ul"></i>退出登录</a></li>
                <!--         <li>
                                            <a href="user-followed-companies.html"> <i class="fa  fa-bookmark-o"></i> Followed Companies </a>
                                        </li> -->
            </ul>
        </div>
    </div>
</div>
</body>
</html>