<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="menu-1" class="mega-menu fa-change-black" data-color="">
    <section class="menu-list-items">
        <ul class="menu-logo">
            <li><a href="/index"> <img src="/front/images/logo.png" alt="logo" class="img-responsive" width="50%" height="50%"> </a></li>
            <li><p style="font-size: 25px">人力资源大数据分析及智能化服务平台</p></li>
        </ul>
        <ul class="menu-links pull-right">
            <li><a href="/">主页 </a></li>
            <li><a href="/companyList">公司列表</a></li>
<!--            <li><a href="">职位列表</a></li> -->
            <!--      <li> <a href="javascript:void(0)">职位信息 <i class="fa fa-angle-down fa-indicator"></i></a>
                        <ul class="drop-down-multilevel">
                            <li><a href="index_searchUI.action"><i class="fa fa-angle-right"></i>职位搜索</a></li>
                            <li><a href="index_joblist.action"><i class="fa fa-angle-right"></i> 职位列表</a></li>
                        </ul>
                    </li>-->
            <!--            <li><a href="javascript:void(0)">资讯信息<i-->
            <!--                    class="fa fa-angle-down fa-indicator"></i> </a>-->
            <!--                <ul class="drop-down-multilevel">-->
            <!--                    <li><a href=""><i class="fa fa-angle-right"></i>新闻列表</a></li>-->
            <!--                    <li><a href=""><i class="fa fa-angle-right"></i> 广告列表</a></li>-->
            <!--                </ul>-->
            <!--            </li>-->

            <li class="no-bg login-btn-no-bg">
                <a href="/login" class="login-header-btn"><i class="fa fa-sign-in"></i>登录</a>
                <!--            <li class="no-bg">-->
                <!--                <a href="#" class="p-job"><i class="fa fa-plus-square"></i> 个人中心</a>-->
                <!--            </li>-->
            </li>

        </ul>
    </section>
</nav>
</body>
</html>